node_modules/
.bun/
bun.lockb
*.bun
dist/
build/
out/
bin/
coverage/
.env
.env.*
!.env.example
.DS_Store
*.log
*.pid
*.seed
*.tsbuildinfo
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.nyc_output
*.lcov
.eslintcache
.vscode/

